# MAT281 - Laboratorio N°04

<a id='p1'></a>

## Problema 01

En la carpeta data se encuentra el archivo `nba.db`, el cual muestra informacion básica de algunos jugadores de la NBA.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHCVR_4gPOmYYGglSV0rT1WlJtgRGnIw6Z6G68PTY1r_Qunv-6C3BDIa3jnStoNvdgcEE&usqp=CAU" align="center"/>

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import os  

# Crear conector
conn = create_engine(os.path.join('sqlite:///','data', 'nba.db'))

In [ ]:
# funcion de consultas
def consulta(query,conn):
    return pd.read_sql_query(query, con=conn)

In [ ]:
# ejemplo
query = """
SELECT * FROM player
"""
consulta(query,conn)

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos mediante código **SQL**. Para cumplir con este objetivo debe resolver las siguientes problemáticas:

1. Mostrar las primeras 5 filas

In [ ]:
query = """
SELECT * FROM player LIMIT 5
"""
consulta(query,conn)

2. Seleccionar los valores únicos de la columna `position`.

In [ ]:
query = """
SELECT DISTINCT position FROM player
"""
consulta(query,conn)

3. Seleccionar y cambiar el nombre de la columna `name` por `nombre`

In [ ]:
query = """
SELECT name as nombre FROM player 
"""
consulta(query,conn)

4. Determinar el tiempo (en años) de cada jugador en su posición

In [ ]:
#se determina que cada jugador juega (year_end-year_start) años
query = """
SELECT name, position, (year_end-year_start)
FROM player
"""
consulta(query,conn)

5. Encontrar el valor máximo de la columna `weight` por cada  valor de la columna `position`

In [ ]:
query = """
SELECT position, MAX(weight) FROM player GROUP BY position
"""
consulta(query,conn)

6. Encontrar el total de jugadores por cada valor de la columna `year_start`

In [ ]:
query = """
SELECT year_start, COUNT(name) FROM player GROUP BY year_start
"""
consulta(query,conn)

7. Encontrar el valor mínimo, máximo y promedio de la columna `weight` por cada valor de la columnas `college`

In [ ]:
query = """
SELECT college, MAX(weight), AVG(weight) FROM player GROUP BY college
"""
consulta(query,conn)

8. Filtrar por aquellos jugadores que cumplan con :
* Para la columna `year_start` tienen un valor mayor 1990 y menor a 2000
* Para la columna `position` tienen un valor de `C`,`C-F` o `F-C`
* Para la columna `college` tienen un valor distinto de `Duke University`

In [ ]:
query = """
SELECT * FROM player
WHERE year_start BETWEEN 1990 AND 2000
AND position LIKE '%C%'
AND NOT college = 'Duke University';
"""
consulta(query,conn)

9. Crear dos conjuntos de datos y juntarlos en una misma *query*. Las condiciones de cada uno de los cojunto de datos son:

* **df1**:
    * Para la columna `year_start` tienen un valor mayor 1990 y menor a 2000
    * Para la columna `position` tienen un valor de `C`,`C-F` o `F-C`
   
* **df2**:
    * Para la columna `year_end` tienen un valor menor a 2000
    * Para la columna `position` tienen un valor de `G`o `F`

In [ ]:
query = """
SELECT * FROM player AS df1 
WHERE df1.year_start BETWEEN 1990 AND 2000
AND df1.position LIKE '%C%'
UNION
SELECT * FROM player AS df2 
WHERE df2.year_end <=2000
AND (df2.position = 'F' OR df2.position = 'G')
"""
consulta(query,conn)